<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve A Room</title>
</head>
<body>
    <h1>Library Room Reservation Bot</h1>
    <form action="/confirmation" method="post">
        <label for="action">Enter room number:</label>
        <input type="text" id="action" name="action">
        <input type="submit" value="Reserve">
        
    </form>
</body>
</html>